@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.root{
    margin-bottom: 200px;
}
.catalog{
    margin-top: 70px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.capas{
    margin-top: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.filmeCapa{
    width: 130px;
    height: 195px;
    margin-right: 20px;
    margin-top: 20px;
}
h3{
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 24px;
}
h4{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}
h6{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
}
.section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn-Horario{
    background-color: #E8833A;
    border: thin solid #E8833A;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;

    transition: 0.3s all;
}
.btn-Horario:hover{
    cursor: pointer;
    width: 81px;
    height: 41px;

    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);

}
.buttons-horarios{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.buttons-horarios span{
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 700;
}
.button-reserv{
    background-color: #E8833A;
    border: thin solid #E8833A;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}
.button-reserv  span{
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}


.escolhendoAssento{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}