
.Finalizado-page{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1 {
    color: #247A6B;
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: bold;
}
h2 {
    margin-top: 30px;

    color: #293845;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 500;
}

.info-pedido{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-pedido div {
    display: flex;
    margin-top: -40px;
}
.info-pedido div > h3{
    margin-right: 20px;
    font-weight: 300;
}